html{
    scroll-behavior: smooth;
    transition: 1s ease-in;
}

.bground{
    width: 1345px;
    height: auto;
    background-color: #0d0d15;
}

.menu{
    display: inline;
    margin-left: 30px;
    
}

.header{
    z-index: 200;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    scroll-behavior: smooth;
}

.column1{
    margin: 20px;
    display: inline-block;
    margin-left: 40px;
}

.img{
    border-radius: 3cm;
    margin-left: 49px;
    margin-top: 10px;
}

.box1{
    width: 200px;
    height: 200px;
    background-color: white;
    box-shadow: 5px 5px 4px 0 rgba(255, 255, 255, 0.295), 0 7px 10px 0 rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.box1:hover, .box1:active{
    font-size: 150%;
    transition: 0.2s;
}
    
.text{
    font-family: Helvetica;
    text-decoration: #0d0d15;
}

.text{
    margin-top: 20px;
}

